body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.foto {
    text-align: center;
    margin-bottom: 20px;
}

.datos-personales {
    margin-bottom: 20px;
}

.datos-personales h2 {
    margin-top: 0;
}

.datos-personales p {
    margin: 5px 0;
}

.seccion {
    margin-bottom: 20px;
}

.seccion h2 {
    margin-top: 0;
    color: #007bff; /* Azul */
}

.experiencia {
    color: #28a745; /* Verde */
}

.habilidades {
    color: #ffc107; /* Amarillo */
}

.proyectos {
    color: #6c757d; /* Gris */
}
