* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
}

.header{
    background-color: aqua; /*212183*/
    width: 100%;
    height: 6.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header__nav {
    width: 40%;
    height: 100%;

}

.header__nav ul{
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.header__nav ul li{
    margin-right: 2rem;
    
}

.header__nav ul li a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: black
}

.header__title{
    margin-left: 1rem;
    color: black;
    font-size: 30px;
}

.Yo__Bloque{
    background-image: url(Img/nitro\ cofing.jpg);
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    background-attachment: fixed;
}

.div__block_Sobre_mi{
    width: 40%;
    height: 30%;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 20px;
    margin-left: 180px; /*Preguntar a mauro esto esta loco*/
}

.h1__Titulo{
    font-family: 'japanese';
    font-size: xx-large;
    color: #ffff;
    padding: 0px 0px 10px 0px;
    font-weight: normal;

}

.p__presentacion{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: large;
}

.Foto{
    float: right;
    width: 50%;
    height: 75%;

    
}

.FotoPerfil {
    clip-path: circle();
    object-position: left bottom;
    margin-top: 10%;
    
}

.Curriculum{
    background-image: url(Img/cafe\ y\ portatil.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}


.h2__Cu__Titulo {
    color: white;
    font-size: 4rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    
}

.Estudios{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
}

.Estudio__a{
    width: 20%;
    height: 90%;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.2);
    position: relative;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Container__Arriba{
    width: 100%;
    height: 50%;
    text-align: center;
}

.Container__Abajo{
    width: 100%;
    height: 30%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7)
}

.Estudios, .Estudio__a, h2{
    color: white;
    font-size: larger;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.Estudios, .Estudio__a, h3{
    color: white;
}

.Estudios, .Estudio__a, h4{
    color: white;
}

.proyectos {
    background-image: url(Img/coding.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.proyectos__a{
    width: 20%;
    height: 95%;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.2);
    position: relative;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



