body{
	background: #DADADA;
	width:1000px;
  margin:0px auto;
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 2 / 1 / 6 / 2; }
.div3 { grid-area: 2 / 2 / 6 / 4; }

.div1{
	width: 100%;
	height: 200px;
	background:#76A1DC;
}

.div2{
	width: 99%;
	height: 800px;
	background:#76A1DC;
}

.div3{
	width: 100%;
	height: 800px;
	background:white;
}

#foto{
	position: relative;
	width: 33%;
	height: 200px;
	background:#76A1DC;
	float: left;
}

#text{
	width: 67%;
	height: 200px;
	float: right;
	background:white;
}

#textarea{
	padding: 20px;
}

.text{
	padding: 0px;
	margin: 0px;
	font-family: arial;
	margin-bottom: 20px;


}

.sub-titles{
	 font-family:  Arial, sans-serif;
	 font-size: 20px;
	 color:white;
}

.sub_titles2{
	 font-family:  Arial, sans-serif;
	 font-size: 15px;
	 font-style:  italic;
	 color:white;
}


.textdown{

	padding: 0px;
	margin: 0px;
	font-size: 15px;

}

#section-idiomas{
	padding: 20px;
}
#foto img{
	height: 100%;
    width: 100%;
	position: absolute;
}

 hr {
       background: url(http://placekitten.com/800/100) no-repeat;
       border: 0;

       height: 100px;
       width: 100%;
       height: 1px; background: white;
    }


    #hrBlack{
       background: url(http://placekitten.com/800/100) no-repeat;
       border: 0;

       height: 100px;
       width: 100%;
       height: 1px; background: black;
    
    }

li{
	font-family:  Arial, sans-serif;
	color:white;

}

#perfilTextWhite{
	font-size: 20px;
	font-family:  Arial, sans-serif;
	padding: 20px;margin-bottom: -35px;
}

#perfilText{
	padding: 20px;

}